{% extends 'product_list.html' %}
{% load my_tags %}
{% block content %}
<div class="row text-center">
    <div class="col-4">
        <div class="card mb-4 box-shadow">
            <img src="{{ product.image | media_filter }}">
            <div class="card-header">
                <h1 class="my-0 font-weight-normal">{{ product.name }}</h1>
            </div>
            <div class="card-body">
                <h3 class="card-text">Описание:{{product.description}}</h3>
                <h3 class="card-text">Категория:{{product.category}}</h3>
                <h2 class="card-text">Цена:{{product.price}}</h2>
                <a class="btn btn-primary" href="{% url 'catalog:product_info' product.pk %}" role="button">Подробнее</a>
                <a href="{% url 'catalog:base' %}" class="btn btn-primary">Назад</a>
            </div>
        </div>
    </div>
</div>
{% endblock %}
