{% extends 'product_list.html' %}
{% load my_tags %}
{% block content %}
<div class="row text-center">
    <div class="col-4">
        <div class="card mb-4 box-shadow">
            <img src="{{ product.image | media_filter }}">
            <div class="card-header">
                <h4 class="my-0 font-weight-normal">{{ product.name }}</h4>
            </div>
            <div class="card-body">
                <h1 class="card-text">{{product.description}}</h1>
                <a class="btn btn-primary" href="{% url 'catalog:product_info' product.pk %}" role="button">Подробнее</a>
            </div>
        </div>
    </div>
</div>
{% endblock %}
